    * {
        margin: 0;
        padding: 0;
    }
    
    li {
        list-style: none;
    }
    
    a {
        text-decoration: none;
        color: black;
    }
    /* 头部部分 */
    
    #header {
        padding: 0px 84px;
        background-color: black;
        height: 80px;
    }
    
    .header_container {
        width: 100%;
        margin: 0 auto;
        height: 100%;
    }
    
    .header_container_left {
        float: left;
        height: 100%;
        width: 200px;
        background: url('https://image.converse.com.cn/images/commons/header-footer-new3.png') center center no-repeat;
    }
    
    .header_container_right {
        float: right;
        text-align: center;
        color: white;
        font-size: 12px;
    }
    
    .header_container_right p {
        height: 80px;
        line-height: 80px;
        float: left;
    }
    
    .header_container_right p a:hover {
        text-decoration: underline;
    }
    
    .header_container_right p>a {
        color: white;
    }
    
    .header_container_right li {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        float: left;
        margin: 25px 20px;
        cursor: pointer;
        background-color: gray;
    }
    
    .header_container_right li:nth-child(2) {
        background: url('https://image.converse.com.cn/images/commons/sprites_header_footer.png')-96px -85px;
    }
    
    .header_container_right li:nth-child(2):hover {
        background: url('https://image.converse.com.cn/images/commons/sprites_header_footer.png')-137px -66px;
    }
    
    .header_container_right li:nth-child(5) {
        background: url('https://image.converse.com.cn/images/commons/sprites_header_footer.png')-95px -54px;
    }
    
    .header_container_right li:nth-child(5):hover {
        background: url('https://image.converse.com.cn/images/commons/sprites_header_footer.png')-137px -34px;
    }
    
    .header_container_right li:nth-child(6) {
        background: url('https://image.converse.com.cn/images/commons/sprites_header_footer.png')-137px -161px;
    }
    
    .header_container_right li:nth-child(6):hover {
        background: url('https://image.converse.com.cn/images/commons/sprites_header_footer.png')-137px -3px;
    }
    
    .header_container_right li:nth-child(7) {
        background: url('https://image.converse.com.cn/images/commons/sprites_header_footer.png')-169px -161px;
    }
    
    .header_container_right li:nth-child(7):hover {
        background: url('https://image.converse.com.cn/images/commons/sprites_header_footer.png')-169px -3px;
    }
    
    .header_container_right .header_container_count {
        background-color: #b63330;
        line-height: 30px;
        text-align: center;
    }
    /* 登录隐藏部分 */
    
    #user {
        width: 100%;
        height: 397px;
        height: 0;
        position: relative;
        font-size: 25px;
        overflow: hidden;
    }
    
    .sjx {
        position: absolute;
        top: 0px;
        left: 1074px;
        border: 15px solid;
        border-color: black transparent transparent transparent;
    }
    
    .user_login {
        width: 1000px;
        height: 397px;
        margin: 40px auto;
        /* background-color: red; */
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        display: none;
    }
    
    .user_login_left {
        height: 317px;
        width: 200px;
        border-right: 1px solid black;
        padding-left: 300px;
        float: left;
    }
    
    .user_login_left>p {
        margin-bottom: 10px;
    }
    
    .login_left_more {
        width: 150px;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        color: white;
        text-align: center;
        background-color: black;
        vertical-align: middle;
        border: 1px solid white;
        margin-bottom: 10px;
    }
    
    .login_left_more:hover {
        background-color: white;
        color: black;
        border: 1px solid black;
    }
    
    .login_left_more:hover.login_left_more::after {
        background: url('https://image.converse.com.cn/images/commons/sprites_header_footer.png')-43px -162px;
        transition: all 0.5s;
    }
    
    .login_left_more::after {
        content: '';
        background: url('https://image.converse.com.cn/images/commons/sprites_header_footer.png')-10px -162px;
        display: inline-block;
        margin-left: 7px;
        width: 20px;
        height: 32px;
        vertical-align: middle;
    }
    
    .user_login_right {
        height: 297px;
        width: 300px;
        float: left;
        padding-left: 60px;
        font-size: 14px;
    }
    
    .user_login_right p {
        width: 250px;
    }
    
    .user_login_right h3 {
        font-size: 25px;
        font-weight: normal;
    }
    
    .user_login_right input {
        outline: none;
        padding: 5px 10px;
        margin: 10px 0px;
        border: 1px solid #ccc;
        width: 228px;
        height: 25px;
    }
    
    .user_login_right .yzm {
        width: 80px;
        vertical-align: middle;
    }
    
    .user_login_right span {
        display: inline-block;
        margin-left: 10px;
        width: 80px;
        height: 40px;
        vertical-align: middle;
        background-color: white;
        line-height: 40px;
        text-align: center;
        font-size: 25px;
        font-style: italic;
        cursor: pointer;
    }
    
    .user_login_right .checkbox input {
        width: 20px;
        height: 20px;
        margin: 0;
        margin-right: 10px;
        vertical-align: middle;
    }
    
    .user_login_right .checkbox input::after {
        content: '';
        display: inline-block;
        height: 40px;
        vertical-align: middle;
    }
    
    .user_login_right .checkbox {
        line-height: 25px;
        font-size: 12px;
    }
    
    .login_right_more {
        width: 250px;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        color: white;
        text-align: center;
        background-color: black;
        vertical-align: middle;
        border: 1px solid white;
        margin-bottom: 10px;
    }
    
    .login_right_more:hover {
        background-color: white;
        color: black;
        border: 1px solid black;
    }
    
    .login_right_more:hover.login_right_more::after {
        background: url('https://image.converse.com.cn/images/commons/sprites_header_footer.png')-43px -162px;
        transition: all 0.5s;
    }
    
    .login_right_more::after {
        content: '';
        background: url('https://image.converse.com.cn/images/commons/sprites_header_footer.png')-10px -162px;
        display: inline-block;
        margin-left: 7px;
        width: 20px;
        height: 32px;
        vertical-align: middle;
    }
    /* 注册隐藏部分 */
    
    #user_registry {
        width: 1000px;
        height: 317px;
        font-size: 12px;
        margin: 40px auto;
        display: none;
    }
    
    #user_registry input {
        padding-left: 10px;
        width: 288px;
        height: 30px;
        border: 1px solid #ccc;
    }
    
    .user_registry_top {
        width: 1000px;
        height: 95px;
        margin-bottom: 10px;
        display: flex;
    }
    
    .user_registry_top li {
        width: 300px;
        height: 95px;
        margin-right: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .user_registry_top .last {
        margin-right: 0;
    }
    
    .user_registry_top p {
        width: 300px;
        height: 40px;
    }
    
    .fk span {
        display: inline-block;
        height: 40px;
        line-height: 40px;
        width: 140px;
        vertical-align: middle;
    }
    
    .fk span::before {
        content: '';
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        display: inline-block;
        width: 16px;
        height: 16px;
        border: 1px solid #ccc;
        margin-right: 10px;
        vertical-align: middle;
    }
    
    .user_registry_bottom {
        width: 1000px;
        height: 100px;
    }
    
    .ckb::before {
        content: '';
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        display: inline-block;
        width: 16px;
        height: 16px;
        border: 1px solid #ccc;
        margin-right: 10px;
        vertical-align: middle;
    }
    
    .registered_user {
        width: 300px;
        height: 40px;
        border: 1px solid black;
        color: white;
        background-color: #ccc;
        line-height: 40px;
        text-align: center;
        cursor: pointer;
        font-size: 16px;
    }
    
    .error {
        display: none;
    }
    /* 导航部分 */
    
    #nav {
        width: 100%;
        height: 50px;
        background-color: gray;
        color: white;
        position: relative;
    }
    
    .nav_container {
        width: 804px;
        height: 50px;
        margin: auto;
    }
    
    .nav_container>li {
        float: left;
        padding: 6px 40px 0px;
        font-size: 18px;
        height: 44px;
    }
    
    .nav_container>li i {
        content: '';
        margin: auto;
        display: block;
        margin-top: 2px;
        width: 1px;
        /* height: 12px; */
        border: 6px solid;
        border-color: white transparent transparent transparent;
    }
    /* 导航栏隐藏部分 */
    
    .nav_boy,
    .nav_girl {
        width: 100%;
        height: 272px;
        position: absolute;
        background-color: white;
        left: 0;
        top: 50px;
        z-index: 1;
        text-align: center;
        padding-left: 300px;
        display: none;
    }
    
    .nav_container li:first-child:hover .nav_boy {
        display: block;
    }
    
    .nav_container li:nth-child(2):hover .nav_girl {
        display: block;
    }
    
    .nav_boy ol:nth-child(1),
    .nav_girl ol:nth-child(1) {
        height: 130px;
        position: absolute;
        top: 0;
    }
    
    .nav_boy>hr,
    .nav_girl>hr {
        position: absolute;
        left: 0;
        top: 135px;
        z-index: 1;
        width: 100%;
    }
    
    .nav_boy ol:nth-child(3),
    .nav_girl ol:nth-child(3) {
        height: 130px;
        position: absolute;
        top: 132px;
    }
    
    .nav_boy li,
    .nav_girl li {
        float: left;
    }
    
    .nav_boy li>p,
    .nav_girl li>p {
        position: relative;
    }
    
    .nav_boy li>p a,
    .nav_girl li>p a {
        position: absolute;
        width: 130px;
        height: 130px;
        line-height: 230px;
        left: 0px;
        top: 0;
        color: black;
    }
    
    .nav_boy li>p a:hover,
    .nav_girl li>p a:hover {
        color: gray;
        text-decoration: underline;
    }
    /* 通知部分 */
    
    #message {
        width: 100%;
        height: 44px;
        line-height: 44px;
        text-align: center;
        font-size: 12px;
    }
    /* 轮播图部分 */
    
    #banner {
        position: relative;
        width: 100%;
        height: 600px;
    }
    
    #banner li {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
    }
    
    #banner li img {
        width: 100%;
    }
    
    #banner .show {
        opacity: 1;
    }
    
    .banner_left,
    .banner_right {
        top: 35%;
        width: 100px;
        height: 100px;
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 50%;
        position: absolute;
        line-height: 100px;
        font-size: 50px;
        text-align: center;
        cursor: pointer;
    }
    
    .banner_left {
        left: 5px;
    }
    
    .banner_left a {
        color: white;
        width: 100px;
        height: 100px;
    }
    
    .banner_right {
        right: 5px;
    }
    
    .banner_right a {
        width: 100px;
        height: 100px;
        color: white;
    }
    /* 轮播图切换部分 */
    
    #banner_menu {
        width: 600px;
        height: 36px;
        margin: 8px auto;
        color: #ccc;
    }
    
    #banner_menu li {
        text-align: center;
        margin-right: 10px;
        float: left;
        font-size: 12px;
    }
    /* 热卖单品 */
    /* 标题部分 */
    
    #Hot_title {
        width: 970px;
        font-size: 30px;
        text-align: center;
        vertical-align: middle;
        margin: 20px auto;
    }
    
    #Hot_title::before {
        content: '';
        display: inline-block;
        height: 2px;
        width: 400px;
        background-color: gray;
        margin-right: 20px;
        vertical-align: middle;
    }
    
    #Hot_title::after {
        content: '';
        display: inline-block;
        height: 2px;
        width: 400px;
        background-color: gray;
        margin-left: 20px;
        vertical-align: middle;
    }
    /* 切换按钮部分 */
    
    #HOt_TAB_ALL {
        width: 100%;
        height: 760px;
        position: relative;
    }
    
    .HOt_TAB_item {
        width: 100%;
        height: 760px;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
    }
    
    #HOt_TAB_ALL>.show {
        display: block;
    }
    
    #Hot_button,
    #Hot_show {
        width: 960px;
        margin: auto;
        height: 250px;
    }
    
    #Hot_button {
        border-bottom: 1px solid gray;
    }
    
    #Hot_show {
        border-bottom: 1px dashed gray;
        height: 370px;
    }
    
    #Hot_button li {
        height: 200px;
        width: 200px;
        text-align: center;
        margin: 10px 18px;
        float: left;
    }
    
    #Hot_show li {
        width: 232px;
        height: 300px;
        text-align: center;
        margin: 25px 3px;
        float: left;
        border: 1px solid white;
        transition: all 0.1s;
    }
    
    #Hot_show li:hover {
        transition: all 0.1s;
        border: 1px solid blue;
    }
    
    #Hot_show li p {
        margin: 10px 0px;
    }
    
    #Hot_show li p:last-child {
        margin-top: 30px;
    }
    
    #Hot_show li img {
        width: 200px;
        height: 200px;
    }
    /* 更多部分 */
    
    #MORE {
        width: 400px;
        height: 50px;
        line-height: 50px;
        font-size: 14px;
        color: white;
        text-align: center;
        background-color: black;
        margin: auto;
        vertical-align: middle;
        border: 1px solid white;
    }
    
    #MORE:hover {
        background-color: white;
        color: black;
        border: 1px solid black;
    }
    
    #MORE:hover#MORE::after {
        background: url('https://image.converse.com.cn/images/commons/sprites_header_footer.png')-43px -162px;
        transition: all 0.5s;
    }
    
    #MORE::after {
        content: '';
        background: url('https://image.converse.com.cn/images/commons/sprites_header_footer.png')-10px -162px;
        display: inline-block;
        margin-left: 7px;
        width: 20px;
        height: 32px;
        vertical-align: middle;
    }
    /* 新品推荐部分 */
    
    #NEW_title {
        width: 970px;
        font-size: 30px;
        text-align: center;
        vertical-align: middle;
        margin: 20px auto;
    }
    
    #NEW_title::before {
        content: '';
        display: inline-block;
        height: 2px;
        width: 400px;
        background-color: gray;
        margin-right: 20px;
        vertical-align: middle;
    }
    
    #NEW_title::after {
        content: '';
        display: inline-block;
        height: 2px;
        width: 400px;
        background-color: gray;
        margin-left: 20px;
        vertical-align: middle;
    }
    /* 新品商品部分 */
    
    .NEW_item {
        width: 100%;
        height: auto;
    }
    
    #NEW_show {
        width: 960px;
        margin: auto;
        height: 360px;
        border-bottom: 1px dashed gray;
    }
    
    #NEW_show li {
        width: 230px;
        height: 303px;
        text-align: center;
        margin: 25px 3px;
        float: left;
        font-size: 12px;
    }
    
    #NEW_show li:hover {
        /* border: 1px solid gray; */
        transition: all 0.1s;
        box-shadow: 0px 0px 3px;
    }
    
    #NEW_show li p {
        margin: 10px 0px;
    }
    
    #NEW_show li p:last-child {
        margin-top: 30px;
    }
    
    #NEW_show li img {
        width: 200px;
        height: 200px;
    }
    /* 接头先型 */
    
    #corner {
        width: 1000px;
        margin-top: 20px;
        height: 550px;
        margin: auto;
    }
    
    .corner_title {
        width: 960px;
        height: 50px;
        line-height: 50px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        padding-left: 40px;
        background: url('https://image.converse.com.cn/static/home/logo-icon.png')10px center no-repeat;
        background-color: gray;
        margin-bottom: 10px;
    }
    
    .corner_left {
        float: left;
        margin-right: 24px;
        width: 488px;
        height: auto;
        position: relative;
    }
    
    .corner_left:hover.corner_left a {
        display: block;
    }
    
    .corner_right:hover.corner_right a {
        display: block;
    }
    
    .corner_right {
        float: left;
        width: 488px;
        height: auto;
        position: relative;
    }
    
    .corner_left a,
    .corner_right a {
        position: absolute;
        top: 0;
        left: 0;
        width: 488px;
        height: 366px;
        background-color: rgba(0, 0, 0, 0.3);
        display: none;
    }
    
    .corner_left img,
    .corner_right img {
        width: 100%;
    }
    
    #corner h3 {
        margin: 10px 0px;
        transition: all 1s;
    }
    
    #corner h3:hover {
        color: gray;
        text-decoration: underline;
    }
    
    .corner_more {
        width: 200px;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        color: white;
        text-align: center;
        background-color: black;
        vertical-align: middle;
        border: 1px solid white;
        margin-bottom: 10px;
    }
    
    .corner_more:hover {
        background-color: white;
        color: black;
        border: 1px solid black;
    }
    
    .corner_more:hover.corner_more::after {
        background: url('https://image.converse.com.cn/images/commons/sprites_header_footer.png')-43px -162px;
        transition: all 0.5s;
    }
    
    .corner_more::after {
        content: '';
        background: url('https://image.converse.com.cn/images/commons/sprites_header_footer.png')-10px -162px;
        display: inline-block;
        margin-left: 7px;
        width: 20px;
        height: 32px;
        vertical-align: middle;
    }
    /* 玩转潮流 */
    
    #play {
        width: 1000px;
        height: 400px;
        margin: auto;
    }
    
    .play_title {
        width: 960px;
        height: 50px;
        line-height: 50px;
        margin: auto;
        color: white;
        font-weight: bold;
        font-size: 18px;
        padding-left: 40px;
        background: url('https://image.converse.com.cn/static/home/logo-icon.png')10px center no-repeat;
        background-color: gray;
        margin-bottom: 10px;
    }
    
    .play_left,
    .play_center {
        float: left;
        margin-right: 20px;
        width: 320px;
        height: auto;
        position: relative;
    }
    
    .play_left:hover.play_left a {
        display: block;
    }
    
    .play_center:hover.play_center a {
        display: block;
    }
    
    .play_right:hover.play_right a {
        display: block;
    }
    
    .play_right {
        float: left;
        width: 320px;
        height: auto;
        position: relative;
    }
    
    .play_left a,
    .play_center a,
    .play_right a {
        position: absolute;
        top: 0;
        left: 0;
        width: 320px;
        height: 242px;
        background-color: rgba(0, 0, 0, 0.3);
        display: none;
    }
    
    .play_left img,
    .play_center img,
    .play_right img {
        width: 100%;
    }
    
    #play h3 {
        margin: 10px 0px;
        transition: all 1s;
    }
    
    #play h3:hover {
        color: gray;
        text-decoration: underline;
    }
    
    .play_more {
        width: 200px;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        color: white;
        text-align: center;
        background-color: black;
        vertical-align: middle;
        border: 1px solid white;
        margin-bottom: 10px;
    }
    
    .play_more:hover {
        background-color: white;
        color: black;
        border: 1px solid black;
    }
    
    .play_more:hover.play_more::after {
        background: url('https://image.converse.com.cn/images/commons/sprites_header_footer.png')-43px -162px;
        transition: all 0.5s;
    }
    
    .play_more::after {
        content: '';
        background: url('https://image.converse.com.cn/images/commons/sprites_header_footer.png')-10px -162px;
        display: inline-block;
        margin-left: 7px;
        width: 20px;
        height: 32px;
        vertical-align: middle;
    }
    /* 关注CONVERSE */
    
    #attention {
        margin-top: 80px;
        width: 100%;
        height: 300px;
        text-align: center;
        font-size: 16px;
        line-height: 80px;
        color: white;
        background-color: gray;
    }
    
    #attention>.left {
        display: inline-block;
        width: 75px;
        height: 75px;
        margin: 0px 10px;
        background: url('https://image.converse.com.cn/images/homepage/share.png')75px 0px;
    }
    
    #attention>.left:hover {
        background-position: 0px 0px
    }
    
    #attention>.right {
        display: inline-block;
        width: 75px;
        height: 75px;
        margin: 0px 10px;
        background: url('https://image.converse.com.cn/images/homepage/share.png')75px -75px;
    }
    
    #attention>.right:hover {
        background-position: 0px -75px
    }